.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  height: 100vh;
  margin-top: -40pt;
}

.alert {
  color: red;
  font-weight: 100;
  font-size: 12pt;
  text-align: center;
}
